

*{
	margin: 0;
}
.menu{
	background-color: #f6b93b;
}
.menu ul{
	display: flex;
	list-style: none;
	justify-content: center;

}
.menu ul li{
	
	padding: 10px 20px;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu ul li a:hover{
	color:  #130f40;

}
.box{
	background-color: #130f40;
	height: 400px;
}
.box h1{
	color: #f6b93b;
	padding-top: 110px;
	padding-left: 450px;


	
}
.box h3{
    color: #fff;
    padding-top: 20px;
	padding-left: 520px;
}

button{
	margin-left: 540px;
	background: #130f40;
	border-color: #f6b93b;
	padding: 5px 15px ;
	
	margin-top: 20px;
}
.btn{
	margin-left: 10px;
}

.signin{
	color: white;
	text-decoration: none;
}
.signup{
	color: #fff;
	text-decoration: none;

}

.box button:hover{
	background-color:  #f6b93b;
}
