body{
	background-color: #0c0b33;
}
*{
	margin: 0;
}
.menu{
	background-color: #f6b93b;
}
.menu ul{
	display: flex;
	list-style: none;
	justify-content: center;

}
.menu ul li{
	
	padding: 10px 20px;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu ul li a:hover{
	color:  #130f40;

}

.signup{
	width: 1000px;
    
}
.signup form{
	background-color: #130f40;
	height: 630px;
	color: white;
	margin-top: 50px;
	margin-left: 400px;
	

}
select{
	margin-left: 150px;
}

.ex {
	display: block;
	margin-left:150px;
	color: #f6b93b;
}
h1{
	text-align: center;
	padding-top: 20px;
}
p{
margin-left: 150px;	
margin-top: 10px;
color: #f6b93b;
}
.lg{
	margin-left: 180px;	
}
.signup form input[type=file]{
	margin-left: 150px;
	
     
}
.signup form input[type=text]{
	margin-left: 150px;
	width: 300px;
	
}
.signup form input[type=password]{
	margin-left: 150px;
	display: block;
	width: 300px;
	
}
.signup form input[type=email]{
	margin-left: 150px;
    width: 300px; 
    
}
.signup form input[type=radio]{
	margin-left: 150px;
	padding-bottom: 10px;
	

}
.signup form input:nth child[6]{
	margin-left: 250px;
	padding-bottom: 10px;


}

button{
	margin-left: 240px;
	background: #130f40;
	border-color: #f6b93b;
	padding: 5px 15px ;
	
	margin-top: 20px;
}
.createaccount{
	
	text-decoration: none;
	color: white;
	

}
.signup form button:hover{
	background-color:#f6b93b;

}
.signup form label{
	margin-top: 10px;
}
.dc{
	color: #f6b93b;
}
.dc1{
	color: #f6b93b;
}
